body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  color: #333;
}

header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

nav a {
  color: #4285f4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #3367d6;
}

.navbar {
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #cce5ff;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #cce5ff;
}

.navbar-nav .nav-item.active .nav-link {
  color: #cce5ff;
  font-weight: bold;
}

.gallery-item {
  margin-bottom: 30px;
}

.gallery-image {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.image-description,
.image-author {
  text-align: center;
  color: #555;
  margin-top: 5px;
  font-size: 0.9em;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}




.image-container:hover .gallery-image {
  transform: scale(1.03);
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  /* semi-transparent black background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .gallery-item {
    margin-bottom: 15px;
  }
}